<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>火凤凰</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="../styles/elementui/elementui2.10.css">


</head>

<body>
  <div id="app"></div>
  <script src="../styles/elementui/elementui2.10.js"></script>
  <script src="../js/Print.js"></script>
  <script src="https://webapi.amap.com/maps?v=1.3&key=728c4432f7515c953c09ec23cb9f97f1"></script>
  <script src="http://localhost:8888/dist/vendor.bundle.js"></script>
  <script src="http://localhost:8888/dist/app.js"></script>
</body>

</html>
